<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">
    
    <error-page>
      <error-code>404</error-code>
      <location>/errorpage.jsp</location>
    </error-page>
    <error-page>
      <error-code>500</error-code>
      <location>/WEB-INF/errorpage.jsp</location>
    </error-page>
    <error-page>
      <exception-type>java.lang.Throwable</exception-type>
      <location>/WEB-INF/errorpage.jsp</location>
    </error-page>
    
    <servlet>   
        <servlet-name>SetServlet0</servlet-name>
        <jsp-file>/WEB-INF/errorpage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet0</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>


    <servlet>   
        <servlet-name>SetServlet1</servlet-name>
        <jsp-file>/WEB-INF/home.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet1</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    
    
    <servlet>   
        <servlet-name>SetServlet2</servlet-name>
        <jsp-file>/WEB-INF/contents.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet2</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    
    
    <servlet>   
        <servlet-name>SetServlet3</servlet-name>
        <jsp-file>/WEB-INF/makepost.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet3</servlet-name>
        <url-pattern>/fill</url-pattern>
    </servlet-mapping>
    
    
    <servlet>   
        <servlet-name>SetServlet4</servlet-name>
        <jsp-file>/WEB-INF/post.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet4</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    
    
    <servlet>   
        <servlet-name>SetServlet5</servlet-name>
        <jsp-file>/WEB-INF/signin.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet5</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>


    <servlet>   
        <servlet-name>SetServlet6</servlet-name>
        <jsp-file>/WEB-INF/signup.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet6</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    
    
    <servlet>   
        <servlet-name>SetServlet7</servlet-name>
        <jsp-file>/WEB-INF/signin_action.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet7</servlet-name>
        <url-pattern>/ps-check</url-pattern>
    </servlet-mapping>
    
    
    <servlet>   
        <servlet-name>SetServlet8</servlet-name>
        <jsp-file>/WEB-INF/signup_action.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet8</servlet-name>
        <url-pattern>/ps-welcome</url-pattern>
    </servlet-mapping>
    
    
    <servlet>   
        <servlet-name>SetServlet9</servlet-name>
        <jsp-file>/WEB-INF/logout_action.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet9</servlet-name>
        <url-pattern>/ps-checkout</url-pattern>
    </servlet-mapping>
    
    
    <servlet>   
        <servlet-name>SetServlet10</servlet-name>
        <jsp-file>/WEB-INF/makepost_action.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetServlet10</servlet-name>
        <url-pattern>/ps-fill</url-pattern>
    </servlet-mapping>
    


    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>

</web-app>